html{
  --secondary-color:#FF9F1C;
}
.resister__main-heading{
  text-align: center;
    margin-bottom: 2rem;
    font-size: 5rem;
    color: var(--text-color)
}
.resister__main-heading span{
  color: var(--secondary-color);
}
.resister-container{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resister-form{
  /* height: 35rem; */
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  border: none;
  border-radius: 1.5rem !important;
  box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
  transform: translateY(-15px);
}
.form-card{
  border-radius: 1.5rem !important;
}
.resistration-form__image{
  width: 70%;
}
.resistration-btn{
  background-color: var(--secondary-color);
  width: 50%;
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 2rem;
}