.profile{
  margin-top: 2rem;
  
}
.profile-overlay{
  position: relative;
  border-radius: 20px !important;
  
}
.profile-overlay__img{
  height: 15rem;
  object-fit: cover;
  border-radius: 10px !important;
}
.profile-pic__container{
  position: relative;
  transform: translate(0%,-40%);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prifile_pic__container__img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}